Admin/Connected Services/ServiceReference1/KnjizaraServisHost.Klase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KnjizaraServisHost.Klase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KnjizaraServisHost.Klase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKnjiga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Knjiga" nillable="true" type="tns:Knjiga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKnjiga" nillable="true" type="tns:ArrayOfKnjiga" />
  <xs:complexType name="Knjiga">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cena" type="xs:double" />
      <xs:element minOccurs="0" name="Id_knjige" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Popust" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Knjiga" nillable="true" type="tns:Knjiga" />
  <xs:complexType name="ArrayOfPorudzbine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Porudzbine" nillable="true" type="tns:Porudzbine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPorudzbine" nillable="true" type="tns:ArrayOfPorudzbine" />
  <xs:complexType name="Porudzbine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_knjige" type="xs:int" />
      <xs:element minOccurs="0" name="Id_korisnika" type="xs:int" />
      <xs:element minOccurs="0" name="Id_porudzbine" type="xs:int" />
      <xs:element minOccurs="0" name="Kolicina" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Porudzbine" nillable="true" type="tns:Porudzbine" />
</xs:schema>