Korisnik/Connected Services/ServiceReference1/KnjizaraServisHost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KnjizaraServisHost" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KnjizaraServisHost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Korisnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_korisnika" type="xs:int" />
      <xs:element minOccurs="0" name="Korisnicko_ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lozinka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Korisnik" nillable="true" type="tns:Korisnik" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="admin" />
      <xs:enumeration value="korisnik" />
      <xs:enumeration value="operater" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ArrayOfKorisnik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Korisnik" nillable="true" type="tns:Korisnik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKorisnik" nillable="true" type="tns:ArrayOfKorisnik" />
</xs:schema>